body{
    margin:0;
    padding: 0;
}
.container{
    width:78%;
    margin:3% 10%; 
     margin:auto;
}
h1{
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

/* #all{    
    margin-left:410px;
} */
.all-graph{     
    display: grid; 
    grid-template-columns:repeat(2,1fr);
    grid-gap:3rem;
    margin-left:5px; 
}
.graph{
    width:500px;
    height:300px;   
}

.img1{
    width:400px;
    height:250px;
    border-radius: 5px;
}
.name {
    font-size:19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(44, 42, 42);
    font-weight: bold;
}
header{
    margin-bottom: 4px;
}
.underline-2{
     width:300px;  
    height:3px;
    background-color: rgb(93, 172, 93);
    margin-bottom: 4px;
    /* margin-left:230px; */
}